<form action='/questions' method='post'>
  <input type='text' name="question[title]" placeholder="Question Title">
  <textarea name="question[description]" placeholder="Description Here"></textarea>
  <input type="submit">
</form>
