<h3><%= @question.title %></h3>
<p><%= @question.description %></p>
<!--   <button id="get-question-form">
    Create New Question
  </button>
  <div id="new-question-form">
  </div> -->
<hr>
<div id="comments">
  <ul>
    <% @all_comments.each do |comment| %>
      <p><%= comment.content %> -
      <% user = User.find(comment.user_id) %>
      <em><%= user.username %></em></p>
    <% end %>
  </ul>
</div>

<!-- STILL IN PROGRESS -->
