<div>
  <form action='/answers/<%= @answer_id %>/comments' method='post'>
  <!-- <label>New Comment:</label><br> -->
  <textarea rows="2" cols="65" name='content' placeholder='New Comment'></textarea>
  <input type="submit" name="comment-answer" value="Submit"/>
</div>