<div class="comment-answer">
<h4 class="comment-answer"><%= @new_comment.content %></h4>
<p class="comment-answer">Comment posted by: <%= @user.username %></p>
<p class="comment-answer">Comment posted: <%= @new_comment.created_at %> </p>
</div>