<li>
  <div id="vote-value">
    <button class="vote">+</button>
    <strong><%=question.votes.length%></strong>
  </div>
  <a href="/questions/<%= question.id %>">
    <%= question.title %>
  </a>
</li>
