<form action="/sessions/new" method="post">
  <input class="email" type="email" placeholder="email" name="user[email]">
  <input class="password" type="password" placeholder="password" name="user[password]">
  <input class="submit-button" type="submit" name="Login" value="Login">
</form>
