<form id="login-form" action = "/sessions/new" method = "post">
  <input id = "email" type = "email" placeholder="email@domain.com" name = "user[email]">
  <input id = "password" type = "password" placeholder="password" name = "user[password]">
  <input type = "submit" name = "Login">
</form>
